## filter col and row

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns

In [19]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## loc

In [34]:
iris.loc[0:3, "sepal_width" :]

   sepal_width  petal_length  petal_width species
0          3.5           1.4          0.2  setosa
1          3.0           1.4          0.2  setosa
2          3.2           1.3          0.2  setosa
3          3.1           1.5          0.2  setosa

row start: row_end (inclusive)

## iloc
[: 0:4]

In [37]:
iris.iloc[0:3, 0:2]

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

row_start: row_end (exclusive) , col_start: col_end (exclusive)