## A. filter col and row

In [18]:
import pandas as pd
import numpy as np
import seaborn as sns

In [19]:
iris = sns.load_dataset('iris')
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

## 1) loc

In [47]:
iris.loc[0:3, "sepal_width" :]

   sepal_width  petal_length  petal_width species
0          3.5           1.4          0.2  setosa
1          3.0           1.4          0.2  setosa
2          3.2           1.3          0.2  setosa
3          3.1           1.5          0.2  setosa

row start: row_end (inclusive)

## 1a) filter by row values of specfic columns

In [78]:
# get rows with setosa and petal_length, and columsn with petal_width and species

iris.loc[ (iris.species == "setosa") & (iris.petal_length== 1.4) , 'petal_width': 'species']

    petal_width species
0           0.2  setosa
1           0.2  setosa
4           0.2  setosa
6           0.3  setosa
8           0.2  setosa
12          0.1  setosa
17          0.3  setosa
28          0.2  setosa
33          0.2  setosa
37          0.1  setosa
45          0.3  setosa
47          0.2  setosa
49          0.2  setosa

- better than chaining as below

In [81]:
iris[(iris.species == "setosa") & (iris.petal_length== 1.4) ].petal_width

0     0.2
1     0.2
4     0.2
6     0.3
8     0.2
12    0.1
17    0.3
28    0.2
33    0.2
37    0.1
45    0.3
47    0.2
49    0.2
Name: petal_width, dtype: float64

## 2) iloc
[: 0:4]

In [37]:
iris.iloc[0:3, 0:2]

   sepal_length  sepal_width
0           5.1          3.5
1           4.9          3.0
2           4.7          3.2

row_start: row_end (exclusive) , col_start: col_end (exclusive)